.peque{
    width: 64.5%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.letra{
    padding: 0px 0px 0px 40px;
    font-weight: 500;
    font-size: 25px;
    margin: 0px 0px 25px 0px;
    text-align: left;
}
a.active{
    font-size:30px;
    color:red !important;
}
a{
    font-size:30px;
    color:white;
}
.letra_simple{
    font-size:30px;
}

.card-transparent{
    background-image: url("../img/fondo2.jpg");
    background-size:unset;
}
.card-transparent2{
    background-image: url("../img/fondo_chico3.jpg");
    background-size:cover;
}
.card-transparent4{
    background-image: url("../img/fondo_chico4.jpg");
    background-size:cover;
}
.imagen_pastel{
    width: 20%;
}
